@{
    ViewData["Title"] = "Cars CRUD";
}

@section Scripts{
    <script src="~/js/Cars/List.js" asp-append-version="true"></script>
}

@model IEnumerable<CarModel>

<h1 class="display-4">Cars CRUD</h1>
<p>A simple cars CRUD, with preloaded data on memory.</p>

<div class="row">
    <div class="col-2">
        <button type="button" class="btn btn-primary" onclick="goToAdd()">
            <span class="fa-solid fa-plus"></span>
            Add new
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Make
                    </th>
                    <th>
                        Model
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var car in Model)
                {
                    <tr>
                        <td class="pointer" onclick="goToDetails(@car.Id)">
                            @car.Id
                        </td>
                        <td class="pointer" onclick="goToDetails(@car.Id)">
                            @car.Make
                        </td>
                        <td class="pointer" onclick="goToDetails(@car.Id)">
                            @car.Model
                        </td>
                        <td class="pointer" onclick="goToDetails(@car.Id)">
                            @car.Year
                        </td>
                        <td class="pointer" onclick="goToDetails(@car.Id)">
                            @car.Color
                        </td class="pointer">
                        <td class="text-end pointer" onclick="goToDetails(@car.Id)">
                            @car.Price
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-light" onclick="goToEdit(@car.Id)">
                                <span class="fa-solid fa-edit"></span>
                                Edit
                            </button>
                            <button class="btn btn-sm btn-light" onclick="goToDelete(@car.Id)">
                                <span class="fa-solid fa-remove"></span>
                                Delete
                            </button>
                        </td>
                    </tr>
                }
                @if (!Model.Any())
                {
                    <tr>
                        <td colspan="7">*** No data to show ***</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
