@{
    ViewData["Title"] = "Cars CRUD";
}

@model IEnumerable<CarModel>

<h1 class="display-4">Cars CRUD</h1>
<p>A simple cars CRUD, with preloaded data on memory.</p>

<div class="row">
    <div class="col-2">
        <button type="button" class="btn btn-primary" onclick="location.href = '/Cars/Add'">
            <span class="fa-solid fa-plus"></span>
            Add new
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Make
                    </th>
                    <th>
                        Model
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var car in Model)
                {
                    <tr>
                        <td>
                            @car.Id
                        </td>
                        <td>
                            @car.Make
                        </td>
                        <td>
                            @car.Model
                        </td>
                        <td>
                            @car.Year
                        </td>
                        <td>
                            @car.Color
                        </td>
                        <td class="text-end">
                            @car.Price
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-light" onclick="location.href = '/Edit/@car.Id'">
                                <span class="fa-solid fa-edit"></span>
                                Edit
                            </button>
                            <button class="btn btn-sm btn-light" onclick="location.href = '/Delete/@car.Id'">
                                <span class="fa-solid fa-remove"></span>
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
